@import '/components/reset.css';
@import '/components/header.css';
@import '/components/main.css';
@import '/components/footer.css';
@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');

body {
    max-width: 450px;
    height: auto; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}
@media(min-width:451px){
   body{
    max-width: 1900px;
    
   }
}
