@import './components/reset.css';
@import './components/header.css';
@import './components/main.css';
@import './components/footer.css';
@import './assets/FontStyle/Sahitya/Sahitya-Regular.ttf';
@import './assets/FontStyle/Roboto/Roboto-Regular.ttf';
body {
    max-width: 450px;
    height: auto; 
    display: flex;
    flex-direction: column;
}
