@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
footer{
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.footerText {
   font-size: 15px;
   font-family: 'Rouge Script', cursive;
   color: white;
   text-align: center;
   width: 80%;
}
.socialMediaLogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
.logoFooter {
    width: 30px;
    height: 30px;
}


