footer{
    height: 15vh;
    width: 100%;
}
@media(min-width: 451px){
    footer{
        background-color: black;
        height: 20vh;
        display: flex;
        flex-direction: row;
    }
    .socialMedia{
        background-color: coral;
    }
    .footerText{
        background-color: darkblue;
    }
    
}