main{
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    background-color: burlywood;
}

.gridconteiner{
    display: grid; 
    grid-template-rows:auto auto auto;

}

.bootons{
    background-color: black;
    opacity: 50%;
    height: 20%;
    width: 75%;
}