@import'./FontStyle/Sahitya';

.displaynone{
    display:none !important;
}

.displayon{
    display:inherit !important;
}


main{
    height: 70vh;
    width: 100%;
    display: flex; 
    background:#232222 ; 
}



.sectionInitial{

    display :flex;
    flex-direction: column;
}

.CatButton{
    width: 340px;
    height: 50px;
    border-radius: 44px;
    margin-top: 5%;
    margin-bottom: 5%; 
    align-self: center;
    display: flex;
    flex-direction: row;
    background:#232222 ;
    border:none;
    box-shadow:  2px 2px 2px rgba(0, 0, 0, 0.25),
                 -1px -1px 2px rgba(253, 253, 253, 0.25);
      
}               

            
.ImgButton{
    align-self: center;
    margin-left: 35%;
    
}

.TextButton{
    align-self: center;
    margin-left: 5%;
    font-family: 'Sahitya';
    font-size: large;
    color: white;
}

/*css main de cards*/
.boxCards{
    height: 70vh;
    width: 100%;
    display: flex; 
    background:#232222 ;
    flex-direction: row;
    flex-wrap: wrap;  
    align-content: flex-start;  
    display:none;
}

.cards-main{
    flex-direction: row;
    flex-wrap: wrap;
        
}

.card{
    background-color: beige;
    width: 150px;
    height: 150px;
    border-radius: 20px;

}

.card-body{
    border-radius: inherit;
    height: 100%;
    background-color: blue;
}

.card-title{

}


